.box {
    width: 27vw;
    height: 27vw;
    text-align: center;
    position: relative;
}

.head {
height: 100px;
width: 100vw;
background-color: #000000;
}

.header {
    height: 56px;
    width: 100vw;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 2;
    background-color: #f4f4f3;
    display: table;
    left: 0;
}

.nav_bar {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.about {
  padding: 2vw;
  text-align: center;
  display: table;
}

.name-text {
  vertical-align: middle;
  display: table-cell;
  font-size: 2em;
  color: #fb6f92;
  padding-left: 1vw;
}

.header-text {
    /* color: #ffffff;  */
    display: inline-block;
    font-size: 1.2em;
    padding: 1rem;
    color: #595758;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.headTitle {
    color: #5d5d5d;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.headshot {
  display: inline-block;
  width: 32vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 56px;
}

.center_headshot {
  display: inline-block;
  width: 32vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 56px;
}

.name {
    text-align: center;
    height: 100px;
    width: 100vw;
}

.photo_text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    display: inline-block;
}

.text {
    font-size: 1.7rem; font-family: Arial, Helvetica, sans-serif; color: #5d5d5d;
}

.about-image {
  width: 20vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.paragraphs {
  text-align: left;
  color: #595758;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  display: table-cell;
  width: 50vw;
  padding: 0 4.5vw;
  vertical-align: middle;
}

.about-bg {
  background-color: #ffdde1;
  border-radius: 16px;
}

.download-button {
  display: inline-block;
  width: 23vw;
  background-color: #ffdde1;
  padding: 1.5vw 0;
  border-radius: 8px;
  color: #595758;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-decoration: none;
}

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

.gallery_image {
  width: 27vw;
}
.menu_icon {
  display: none;
}
.about_image_small {
  display: none;
}
.about_image_large {
  display: table-cell;
  vertical-align: middle;
}
.resume {
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
  margin-top: 56px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.resume_headshot {
  display: inline-block;
  vertical-align: middle;
  width: 40vw;
  margin-top: 56px;
}
.nav-text {
  font-size: 2.5em;
  padding: 1rem;
  color: #595758;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .gallery_image {
    width: 90vw;
  }
  .gallery {
    display: block;
  }
  .gallery__thumb {
    margin: auto;
    padding: 3vw 0;
  }
}
@media (max-width: 992px) {
  body {
    margin: 0;
  }
  .headshot {
    display: none;
  }
  .center_headshot {
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .nav_bar {
    display: none;
  }
  .menu_icon {
    text-align: right;
    vertical-align: middle;
    display: table-cell
  }
  .about_image_large {
    display: none;
  }
  .about_image_small {
    margin-top: 1vw;
    display: block;
  }
  .paragraphs {
    width: 91vw;
  }
  .about-image {
    width: 40vw;
    vertical-align: middle;
  }
  .about-bg {
    padding: 2.5vw;
  }
  .resume {
    width: 90vw;
  }
  .resume_headshot {
    width: 90vw;
  }
  .resume_container {
    text-align: center;
  }
}
